<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.url}}/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Lato" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <div class="flex-container space-top">
      <div class="flex-item flex-button placeholder">projects</div>
      <h1 class="flex-item bold" id="title">{{ page.title }}</h1>
      <nav class="flex-item flex-container flex-vertical" id="nav">
          <a href="{{site.url}}" class="flex-item flex-button bright bold">aloinn</a>
          <a href="{{site.url}}/assets/pages/projects.html" class="flex-item flex-button bright">projects</a>
          <a href="{{site.url}}/assets/pages/blog.html" class="flex-item flex-button bright">blog</a>
          <a href="{{site.url}}/assets/pages/about.html" class="flex-item flex-button bright">about</a>
        </nav>
      </div>
    </div>

    <section>
      {{ content }}
    </section>

    <footer>
    </footer>

  </body>
</html>
